/* styles for screens smaller than 768px */
@media (max-width: 768px) {
    /* adjust styles here */
    .table_lg {
      width: 50% !important;
    } 
  }
  
  /* styles for screens between 768px and 992px */
  @media (min-width: 768px) and (max-width: 992px) {
    /* adjust styles here */
    .table_md {
      width: 100% !important;
    } 
  }
  
  /* styles for screens larger than 992px */
  @media (min-width: 992px) and (max-width: 1045px) {
    .table_sm {
      width: 70% !important;
    } 
  
  }
  